{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <br>
            <div class="hero-section__box">
                <h2>Search for <span>Paintings</span></h2>
            </div>

            <div class="hero-section__search">
                <form class="form" action="{% url 'paintings' %}" method="get" id="searchForm">
                    <div class="form__field">
                        <label for="formInput#search">Search By Paintings </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search by Painting Title" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </section>


    <!-- Search Result: DevList -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">

                {% for painting in paintings %}
                <div class="column">
                    <div class="card project">
                        <a href="{% url 'painting' painting.id %}" class="project">
                            <img class="project__thumbnail" src="{{painting.featured_image.url}}"
                                alt="project thumbnail" />
                            <div class="card__body">
                                <h3 class="project__title">{{painting.title}}</h3>
                                <p><a class="project__author" href="{% url 'single-profile' painting.owner.id %}">By
                                        {{painting.owner.name}}</a></p>
                                <span class="project--rating">Average Score:
                                    <span style="font-weight: bold;">{{painting.vote_score}}</span>
                                    <span>({{painting.vote_total}} Vote{{painting.vote_total|pluralize:"s"}})</span>
                                    </p>
                                    <div class="project__tags">
                                        {% for tag in painting.tags.all %}
                                        <span class="tag tag--pill tag--main">
                                            <small>{{tag.name}}</small>
                                        </span>
                                        {% endfor %}
                                    </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include 'pagination.html' with query_set=paintings custom_range=custom_range %}
</main>

{% endblock content %}