{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- Main Section -->
<main class="inbox my-xl">
    <div class="content-box">
        <h3 class="inbox__title">New Messages(<span>{{unreadCount}}</span>)</h3>
        <ul class="messages">
            <li class="message message--unread" style="align-items: center;">
                <a>
                    <span class="message__author">Sender</span>
                    <span class="message__subject">Subject</span>
                    <span class="message__date">Date</span>
                </a>
            </li>

            {% for message in messageRequest %}
            {% if message.is_read %}
            <li class="message">
                {% else %}
            <li class="message message--unread">
                {% endif %}

                <a href="{% url 'view-message' message.id %}">
                    <span class="message__author">{{message.name}}</span>
                    <span class="message__subject">{{message.subject}}</span>
                    <span class="message__date">{{message.created}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock %}